<div class="container">
<h1>About the Course</h1>
<h2>Course Description</h2>
<p>This course is an advanced graduate course that will introduce students to the core literacies required of technical and professional communicators. In this course, students will learn and apply concepts related to information literacy, source literacy, and technical communication concept literacy. Students will be required to 
</p>

<p>By the end of this course you should be able to</p>
<ul>

	<li>Students will know the most relevant core digital literacies for technical communicators. </li>
	<li>Students will apply the principles of information literacy by finding, evaluating, synthesizing, and applying “just in time” research to a variety of technical contexts. </li>
	<li>Students will apply the principles of source literacy by creating technical documents using a variety of markup languages including HTML/CSS, XML, and XSLT.</li>
	<li>Students will understand and apply principles of tool literacy by writing for single sourcing as it relates to technical communication. </li>
	<li>Students will learn and exhibit “best practices” of document version control using GitHub via the command line.</li>
</ul>


<h2>Course Materials</h2>
	<ul>
		<li>Digital Literacies for Technical Communicators, Spilka</li>
		li>Baker, Mark. Every Page is Page One. (2013). Find it on amazon for cheap <a href="http://www.amazon.com/dp/1937434281?ie=UTF8&tag=xp03c-20">here</a></li>
	</ul>
<h1>Vital Course Information</h1>
	  		<ul>
	  			<li><b>Time:</b>  Wednesday 6:00 - 8:50 p.m.</li>
	  			<li><b>Location:</b>  Auditorium Building 302</li>
	  			<li><b>Office Hours:</b>  Monday/Wednesday 2:00-3:00 or by appointment</li>
	  			<li><b>Email:</b>  christopher.lam at unt dot edu</li>
	  		</ul>
	</div>